<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg border-0">
        
        <div class="modal-header bg-light p-4">
            <h5 class="modal-title d-flex align-items-center">
                <i class="bi bi-file-earmark-excel me-2 text-success"></i> 
                {{convert ? 'Convert Excel to CSV File' : upload ? 'Upload Student Data' : ''}}
            </h5>
            <button type="button" class="btn-close" (click)="onCancel()" aria-label="Close"></button>
        </div>

        <div class="modal-body p-4">
            <form>
                <div class="mb-3">
                    <label for="rateCode" class="form-label fw-bold">No. of Rows</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-list-ol"></i></span>
                        <input type="file" 
                               class="form-control" 
                               id="uploadFile" 
                               name="uploadFile" 
                               (change)="handleFileInput($event)"
                               min="1" 
                               required>
                    </div>
                    <div class="form-text">{{convert ? 'Upload an Excel File to convert to CSV' : upload ? 'Upload a CSV File to add Data to the System' : ''}}</div>
                </div>
            </form>
        </div>

        <div class="modal-footer bg-light border-top-0">
            <button type="button" class="btn btn-outline-secondary px-4 mx-2 my-2" (click)="onCancel()">
                Cancel
            </button>
            <button type="button" class="btn btn-success px-4 d-flex align-items-center mx-2 my-2" (click)="onSave()">
                <i class="bi bi-download me-2"></i> Upload
            </button>
        </div>
        
    </div>
</div>