<main class="container-fluid">
  <div class="sticky-top">
    <div id="header" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <app-header></app-header>
    </div>
    <div id="nav" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <app-navigation></app-navigation>
    </div>
  </div>
  <div id="content" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <router-outlet></router-outlet>
  </div>
  <div id="footer" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <app-footer></app-footer>
  </div>
</main>