/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

:root {
    @include mat.snack-bar-overrides((
    //   button-color: rgb(255, 255, 255)
    ));
  }

.notif-success {
    color: #0e0f0e !important; // green
    background-color: #12c73c !important;
    border-color: #000000 !important;
    .mat-simple-snackbar-action {
        color: #ffffff !important;
    }    
}

.notif-error {
    color: #0e0f0e !important; // green
    background-color: #ce0000 !important;
    border-color: #ffffff !important;
    .mat-simple-snackbar-action {
        color: #040a05 !important;
    }    
}

.notif-warning {
    color: #0e0f0e !important; // green
    background-color: #f3ef08 !important;
    border-color: #ffffff !important;
    .mat-simple-snackbar-action {
        color: #040a05 !important;
    }    
}

